<% load "search_movie" %>

<h1>⭐Bienvenue sur Movie Search⭐</h1>
<p>Cherche des informations sur ton film préféré</p>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:demand, "Titre") %>
  <%= text_field_tag(:demand) %>
  <%= submit_tag("Chercher") %>
<% end %>

<% if @demand != nil %>
Voici les résultats pour : "<%=@demand%>"<br><br>
  <% for item in (0..19) do %>
    <%= image_tag "https://image.tmdb.org/t/p/w185#{SearchMovie.new.display_picture(@demand, item)}" %>
    <%= SearchMovie.new.perform(@demand, item) %> <br><br>
  <% end %>
<% end %>
